:root {
	--tile-size: 60px;
}

.game-container {
	width: fit-content;
	margin: 0 auto;
}

.match-info {
	text-align: left;
	margin-bottom: 10px;
	background-color: #b58863;
	padding: 3px 10px;
}

.match-turn {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 5px;
}

.board {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: calc(var(--tile-size) * 8);
}

.board-footer {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(8, var(--tile-size));
}

.board-footer-item {
	display: inline-flex;
	width: var(--tile-size);
	height: 20px;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	color: #333;
}

.undo-countdown {
	width: calc(var(--tile-size) * 8);
	justify-content: flex-end;
}

.cell {
	width: var(--tile-size);
	height: var(--tile-size);
	border: 1px solid #333;
	display: grid;
	place-items: center;
	&:hover {
		opacity: 0.5;
	}
}

.piece {
	font-size: 45px;
	transition: transform 250ms ease;
	&.with-border {
		-webkit-text-stroke: 2px black;
	}
}

.animate-start {
	color: red;
}

.available {
	color: #235435;
	background-color: #e9cfa4 !important;
}
