:root {
	--tile-size: 70px;
}

.game-container {
	justify-content: center;
	display: flex;
}

.board {
  display: grid;
  background-color: #b58863;
	grid-template-columns: repeat(8, var(--tile-size));
	grid-template-rows: repeat(8, var(--tile-size));
}

.cell {
	width: var(--tile-size);
	height: var(--tile-size);
	border: 1px solid #333;
	display: grid;
	place-items: center;
	&:hover {
		opacity: 0.5;
	}
}

.piece {
	font-size: 50px;
	will-change: transform;
	transition: transform 250ms ease;
}

.animate-start {
	color: red;
}

.available {
	color: #235435;
	background-color: #e9cfa4 !important;
}
