:root {
	--tile-size: 60px;
	--board-padding: 24px;
}

.game-container {
	width: fit-content;
	margin: 0 auto;
}

.board-container {
	width: calc(var(--tile-size) * 8 + var(--board-padding) * 2);
	height: calc(var(--tile-size) * 8 + var(--board-padding) * 2);
	background-color: #b58863;
	padding-top: var(--board-padding);
}

.board {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: calc(var(--tile-size) * 8 + var(--board-padding));
}

.horizontal-index-container {
	padding: 0 var(--board-padding);
	display: inline-flex;
}

.board-index {
	&.horizontal {
		width: var(--tile-size);
		height: var(--board-padding);
    align-content: center;
	}
	&.vertical {
		width: var(--board-padding);
		height: var(--tile-size);
		align-content: center;
	}
	&::after {
		content: attr(data-content);
		font-size: 14px;
		font-weight: bold;
		color: #fff;
	}
}

.board-footer {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(9, var(--tile-size));
}

.board-footer-item {
	display: inline-flex;
	width: var(--tile-size);
	height: 20px;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	color: #333;
}

.cell {
	width: var(--tile-size);
	height: var(--tile-size);
	border: 1px solid #333;
	display: grid;
	place-items: center;
	&:hover {
		opacity: 0.5;
	}
}

.piece {
	font-size: 45px;
	transition: transform 250ms ease;
	&.with-border {
		-webkit-text-stroke: 2px black;
	}
}

.available {
	color: #235435;
	background-color: #e9cfa4 !important;
}
